body{
    background-color: white;
    font-size: 11pt;
    color: #404040;
    font-family: Georgia, Garamond, serif;
}
h1 {
    color: #A4A400;
    display: inline;
    background-color: #F0F0F0;  
    background-origin: border-box;
    text-decoration-line: underline;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Helvetica', 'Lucida Sans', Arial, sans-serif;
    font-size: 22pt;
    font: bold;
    letter-spacing: 0.25em;

}
section {
    
    position: relative;
    top: 5%;
    margin-bottom: 2%;
    text-align: center
}

h2 {
    color: #A4A400;
    background-color: #F0F0F0;
    display: inline;
    text-decoration-line: underline;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Helvetica', 'Lucida Sans', Arial, sans-serif;
    font-size: 18pt;
    font: normal;
    letter-spacing: 0.25em;
}
a{
    color: #A4A400;
}

.without-bullet {
    list-style-type: none;
    padding-left: 0;
}
.slice-bullet {
    list-style-image: url('images/pie_icon.gif');
  }

.bg {
    background-image: url("images/silverware.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: repeat;
  }

.quotations{
    background:  #FFFFA8;
    font-style: italic;
    margin-left: 45px;
    margin-right: 45px
}
.right{
    font-family: monospace;
    text-align: right;
}