
body{
    background-color: 	#232B2B;
    padding-left: 150px;
    padding-right: 150px;
}

header{
    text-align: center
}

strong{
    color: lightsalmon
}

ul,ol,p,span{
    color: #dcd4d4
}

h1,h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(126, 158, 190)
}

a{
    color: lightsalmon;
    text-decoration: none
}

.firstcharacter {
    font-size: 25px;
  }

dt{
    color: lightgreen;
    font-weight: bold;
    font-size: 17px;
}



