
body{
    background-image: url("images/background.png");
    font-size: 8pt;
    font-family: Verdana, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}
.header{
  background-image: url("images/bannerbg.png");
  background-repeat: repeat-x;
  text-align: center;
}
#movie-title{
    font-size: 24px;
    font-family: Tahoma, Verdana, sans-serif;
    text-shadow: 3px 3px  #999999;
    text-align: center;
}
#mid-container{
    border: solid 4px gray;
    border-radius: 25px;
    padding: 25px;
    max-width: 800px;
}
