/* CSE 190 M, Spring 2008, Lab 2, Journal
   A starter CSS file that gives basic styles to various elements
   for aesthetic purposes. 
   
   NOTE: This file does NOT need changing for the lab.
*/


a {
	color: #245F5F;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

blockquote {
	font-style: italic;
}

body {
	font-family: "Georgia";
	color: #009097;
}


h1, h2 {
	font-weight: normal;
	font-family: "Century Gothic";
	margin: 3px;
	padding: 0px;
}

img {
	border-style: none;
	padding: 5px;
}

ul {
	padding-left: 10px;
	margin: 2px 10px 2px 5px;
}

.container{
	border: solid white 10px;
}
.topdiv{
	background-color: #A8F0F0;
	text-align: right;
	margin-bottom: 12px;
}


#subtitle{
	font-size: 14pt;
	text-align: right;
}
.date{
	border-bottom: dashed #A8F0F0 2px;
}
.sub-block{
	border: solid #C2E9E9 4px;
	border-radius: 15px;
	margin-bottom: 12px;
	padding-top: 12px;
	padding-left: 5px;
	padding-right: 5px;
	overflow: auto;
	text-align: justify;
}
.image-float{
	float: right;
}
.row{
	content: "";
	display: block;
	clear: left;
  }
.column{
	float: left;
	padding: 2%;
}
.left {
	width: 15%;
	border:5px solid #41BFAB;
	border-radius: 14px;
	margin-top: 25px;
	padding-top: 0%;
	padding-bottom: 0%;
	background-color: #71EBD8;
  }
  
  .right {
	width:75%;
  }
