/* CSE 190 M, Spring 2008, Lab 2, Journal
   A starter CSS file that gives basic styles to various elements
   for aesthetic purposes. 
   
   NOTE: This file does NOT need changing for the lab.
*/

a {
	color: #245F5F;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

blockquote {
	font-style: italic;
}

body {
	font-family: "Georgia";
	color: #009097;
}


h1, h2 {
	font-weight: normal;
	font-family: "Century Gothic";
	margin: 3px;
	padding: 0px;
}

img {
	border-style: none;
	padding: 5px;
}

ul {
	padding-left: 10px;
	margin: 2px 10px 2px 5px;
}

.container{
	border: solid green 5px;
}
.topdiv{
	border: solid red 5px;
}

#subtitle{
	border: solid orange 5px;
}
.date{
	border: solid purple 5px;
}
.sub-block{
	border: solid blue 5px;
}