body{
    background-image: url("./images/background.png");
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 8pt;  
    margin: 0%;
}

.critics-section {
    width: 550px;  
}

.rbg{
    background: url("./images/rbg.png");
    background-repeat: repeat-x;
    font-weight: bold;
    color: red;
    font-size: 48pt;
}

#headerbg{
    background: url("./images/bannerbg.png");
    background-repeat: repeat-x;
}

.center{
    margin-left: auto;
	margin-right: auto;
	display: block;
}

h1{
    text-align: center;
    font-size: 24pt;
    font-weight: bold;
    font-family: Tahoma, Verdana, sans-serif;
    text-shadow: 3px 3px #999999;
}

.container {
    position: relative;
    width: 800px;
    min-height: 1015px;
    margin: auto;
    border: solid;
    border-width: 4px;
    border-color: grey;
    border-radius: 20px;
    overflow: hidden;   
}

#generalreview-section{
    position: absolute;
    background-color: #A2B964;
    font-family: Arial, sans-serif;
    font-size: 8pt;
    left: 550px;
    height: auto;
    padding-bottom: 5px;
}

.reviewsbox {
    float: left;
    font: bold;
    font-size: 8pt;
    width: 211.5px;
    border: solid;
    border-width: 2px;
    border-color: grey;
    background-color: #E8DC9B;
    border-radius: 10px;
    padding: 8px;
}

.iconwrap{
    float: left;
    padding-right: 5px;
}

dt{
    font-weight: bold;
    text-indent: 10pt;
    margin-top: 10pt;
}

ul{
    list-style:none;
}

.bottomcritics{
    position: absolute;
    background: #A2B964;
    text-align: center;
    bottom: 0%;
    width: 800px;
}

.reviewer{
    float: left;
}

.reviewerbox{
    width: 211.5px;
    break-inside: avoid;
}

.validatoronside{
    position: fixed;
    bottom: 0;
    right: 0;
    opacity: 0.5;
}

.rating{
    display: inline-block;
}

.col-container {
    display: flex;
    width: 100%;
  }
.col {
    flex: 1;
    padding: 17px;
}

