
body{
    background-color: 	#232B2B	
}

strong,a {
    color: yellow
}

ul,ol,p,span{
    color: #FFFFFF
}

h1,h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(126, 158, 190)
}
